/lib
/bin
/CMakeFiles
*.vcxproj
*.filters
*.rule
*.cmake
*.user
*.sln
*.sdf
*.suo
*.opensdf
*.stamp
*.depend
updateListFiles.bat
CMakeCache.txt
*.lastbuildstate
*.obj
*.tlog
*.pdb
*.ipch
*.pch
*.log
*.cache
*.res